.banner_site {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.img_banner {
    width: calc(50% - 3px);
}

.list_banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.close_banner {
    position: absolute;
    left: calc(50% - 8px);
    top: -15px;
    background: #ccc;
    width: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 580px) {
    .img_banner {
        width: 100%;
    }
}