.banner_site {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.img_banner {
    width: calc(50% - 3px);
}

.list_banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.close_banner {
    position: absolute;
    left: calc(50% - 8px);
    top: -15px;
    background: #ccc;
    width: 15px;
    cursor: pointer;
}

.banner_top {
    margin-top: 20px;
    margin-bottom: -40px;
}

.banner_top .img_banner {
    display: block;
    /* width: 100%; */
    /* padding: 0 15px; */
}

.banner_top .img_banner img {
    width: 100%;
}


.list_banner_top {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.list_banner_top .close_banner {
    bottom: -15px;
    top: unset;
}

@media only screen and (max-width: 580px) {
    .img_banner {
        width: 100%;
    }

    .banner_top {
        margin-top: 7px;
        margin-bottom: -10px;
    }

    .banner_top .img_banner {
        padding: 0;
    }

    .list_banner_top {
        flex-direction: column;
        gap: 5px;
    }
}