.content {
    padding-top: 50px;
    background: #fff;
}

.breadcrumb {
    display: flex;
    padding: 0 15px;
}

.content_about {
    margin: auto;
    margin-top: 0px;
    padding: 5px 70px 20px 70px;
}
.left_brea {
    display: flex;
    align-items: center;
}
.before {
    position: relative;
    width: 26px;
    height: 25px;
    overflow: hidden;
    margin-right: 8px;
}
.before::before {
    content: "";
    width: 6px;
    height: 28px;
    background-color: #ff3100;
    display: inline-block;
    transform: skew(-49deg);
    position: absolute;
    top: -2px;
    left: 8px;
}
.before::after {
    content: "";
    width: 6px;
    height: 20px;
    background-color: #ff3100;
    display: inline-block;
    transform: skew(-49deg);
    position: absolute;
    top: -1px;
    left: -1px;
}
.this_breadcrumb {
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    color: #ff3100 !important;
    position:relative;
}
.this_breadcrumb::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    background: #524cd0;
    bottom: -7px;
    right: 0;
}
.right_brea {
    width: 100%;
    margin-left: -120px;
    margin-top: 5px;
}
.right_brea svg {
    width: 100%;
    height: 45px;
    stroke: #1910c1;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.train_content {
    margin-top: 25px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top_blog {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: auto 300px;
}

.top_left {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.list_blog_top {
    display: flex;
    gap: 18px;
}

/* css list game  */
.top_bxh {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #ccc;
    padding: 10px;
    gap: 38px;
}

.left_bxh {
    width: 170px;
}

.left_bxh p {
    color: #333;
    padding: 15px 80px 15px 0;
    font-weight: 400;
    cursor: pointer;
    padding: 15px 10px;
    margin: 7px 0;
    border-radius: 5px;
    background: #f1f1f1;
}

.right_bxh {
    width: calc(100% - 155px);
    padding-top: 10px;
}

.left_bxh p:hover {
    background: #f69631;
    color: #fff;
}

.box_new {
    display: flex;
    gap: 7px 18px;
    flex-wrap: wrap;
}

.box_new img {
    max-width: 48px;
    border-radius: 7px;
}

.active {
    background: #f69631 !important;
    color: #fff !important;
}

/* ------  */

.left_about {
    width: calc(100% - 340px);
    display: flex;
    gap: 30px 20px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.title_list {
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.this_train {
    padding: 16px 0;
    border-bottom: 1px solid #e6e8e9;
    width: 100%;
}

.title_blog {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #333333 !IMPORTANT;
    margin: 0 0 8px;
}

.title_blog a {
    color: #333333;
    font-size: 24px;
    line-height: 32px;
}

.date_post span {
    font-size: 14px;
    line-height: 18px;
}

.date_post {
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    color: #777777;
}

.des_blog {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 13px !important;
    line-height: 21px !important;
}

.list_blog .des_blog {
    -webkit-line-clamp: 3;
}

.des_blog p {
    text-align: justify;
}

.this_train a img {
    width: 33%;
}

.left_blog {
    width: 71.6%;
    float: left;
}

.blog_top img {
    width: 100%;
    margin-bottom: 10px;
    height: 317px;
}

.title_blog_top {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 0px;
}

.linl_all_detail {
    background: #F4F4F4;
    color: unset;
}

.blog_top {
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
}

.blog_top p {
    padding: 0 15px;
}

.sapo_blog_top {
    font-size: 13px;
    color: #6c6e70 !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 15px;
}

.sapo_blog_top p,
.sapo_blog_top span {
    font-weight: normal !important;
    line-height: 22px !important;
    font-size: 14px !important;
    color: #777777 !important;
    margin: 0 !important;
}

.fl_date {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right_blog {
    width: 35.4%;
}

.this_train_right {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 17px;
}

.this_train_right:last-child {
    border: unset;
}

.this_train a {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: unset;
}

.box_right_data {
    width: calc(67% - 20px);
}

.this_train_right .title_blog {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 22px;
}

.des_blog p,
.des_blog span {
    text-align: left !important;
    font-size: 13px !important;
    font-weight: normal !important;
    line-height: 21px !important;
    margin-top: 0 !important;
    color: #777777 !important;
    display: inline !important;
}

.list_blog {
    width: 70%;
}

.this_train_right .des_blog {
    margin-bottom: 10px;
}

.blog_top:hover .title_blog_top {
    color: #009eff !important;
}

.this_train:hover .title_blog {
    color: #009eff !important;
}

.this_train:hover .date_post {
    color: #009eff !important;
}

.this_train_right:hover .title_blog {
    color: #009eff !important;
}


.load_more {
    width: 100%;
    position: relative;
}

.div_bgr_load {
    background: #fff;
    padding: 6px 15px 7px 10px;
    color: #333;
    display: block;
    cursor: pointer;
}

.div_bgr_load span {
    color: #533c94;
    font-weight: 500;
    font-size: 14px;
}

.div_bgr_load img {
    rotate: 90deg;
    margin-left: 4px;
    width: 7px;
}

.div_bgr_load:hover span {
    color: #ea9912;
}
.table_bot {
    margin-top: 30px;
    padding: 1px;
    background: linear-gradient(90deg, #cc0355 0, #5447a4 0, #ea003a 100%);
}
.table_bot table {
    background: #fff;
    width: 100%;
}
.btn_heading {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #cc0355 0, #5447a4 0, #ea003a 100%);
    padding-bottom: 1px;
    gap: 1px;
}
.btn_heading th {
    background: #fff;
}
.btn_heading .heading_table {
    width: 79%;
    align-items: center;
    display: flex;
    padding: 0 1px;
}
.heading_show {
    width: 21%;
}
.btn_heading h1 {
    font-weight: 700;
    color: #533c94;
    padding-left: 10px;
    text-align: start;
}
#span_end {
    display: none;
}
.left_detail {
    display: inline-block;
    opacity: 1;
    transition: opacity 2s linear;
}
h3,
.content_blog h3 span {
    font-size: 20px !important;
    line-height: 32px !important;
    font-weight: 500 !important;
    margin-bottom: 12px !important;
    color: #0040ff !important;
    text-align: left !important;
    margin-top: 0 !important;
}

h4,
h4 span,
h4 p {
    font-size: 18px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
    margin-bottom: 12px !important;
    color: #0040ff !important;
    text-align: left !important;
}

h5,
h6,
h5 span,
h5 p,
h6 p,
h6 span {
    font-weight: 500 !important;
    color: #0040ff !important;
    text-align: left !important;
}

.content_blog p,
.content_blog span {
    margin-bottom: 10px !important;
    font-size: 17px !important;
    line-height: 1.5 !important;
    text-align: justify;
}

.content_blog ul {
    padding-left: 30px;
    list-style: disc;
}

figcaption {
    font-size: 15px;
    text-align: center;
    font-style: italic;
    background: #ccc;
}

.content_blog h2,
.content_blog h2 span {
    font-weight: 700 !IMPORTANT;
    font-size: 25px !important;
    line-height: 32px !important;
    color: #0040ff !important;
    margin-top: 0;
    text-align: left !important;
    margin: 12px 0 !important;
}

figure {
    margin: auto;
}

.content_blog div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10pt 0;
}

.content_blog img {
    height: auto;
}

a.H3abc {
    padding-left: 15px;
}

a.H4abc {
    padding-left: 25px;
}

.content_blog ul li {
    line-height: 1.5 !important;
}

.content_blog {
    position: relative;
    overflow: hidden;
    height: 70px;
    padding: 0 10px;
}

.content_blog:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    box-shadow: inset 0px -2rem 12px -1rem rgb(255 255 255 / 90%);
    pointer-events: none;
    grid-row: 100px;
    transition: all ease-in .25s;
}

.hide_show_content p {
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    color: #ea9912;
}

.hide_show_content {
    cursor: pointer;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.list_img_arrow {
    rotate: 90deg;
    display: flex;
}

.list_img_arrow img {
    width: 8px;
}

.content_blog a {
    box-shadow: inset 0 -4px 0 #7be2af;
    font-weight: 700 !important;
    color: #000;
}

.content_blog a:hover {
    background: #7be2af;
}
@media only screen and (max-width: 1024px) {
    .right_brea {
        display: none;
    }
    .content_about {
        padding: 20px;
    }

    .left_about {
        width: 100%;
    }

    .content {
        padding-top: 0;
    }

    .title_blog a {
        font-size: 21px;
        line-height: 26px;
    }
    .div_bgr_load {
        padding: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .breadcrumb {
        padding: 0;
    }
    .train_content {
        margin-top: 20px;
        padding: 0;
    }

    .top_blog {
        display: flex;
        justify-content: space-between;
        gap: unset;
        flex-direction: column;
    }

    .top_right {
        width: calc(30% - 20px) !important;
    }

    .left_blog,
    .right_blog {
        width: 100%;
    }

    .list_blog {
        width: 100%;
    }

    .list_blog_top {
        display: flex;
        flex-direction: column;
        gap: unset;
    }

    .sapo_blog_top {
        margin-bottom: 10px;
    }

    .right_blog {
        margin-top: 20px;
    }

    .title_blog_top {
        font-size: 20px;
    }

    .title_blog {
        font-size: 15px;
        line-height: 20px;
        margin: 0;
    }

    .date_post {
        margin-bottom: 0;
    }

    .date_post span {
        font-size: 11px;
    }

    .box_right_data .des_blog p {
        font-size: 11px !important;
        line-height: 15px !important;
    }

    .box_right_data .des_blog span {
        font-size: 11px !important;
        line-height: 15px !important;
    }

    .box_new img {
        max-width: 45px;
        border-radius: 7px;
    }

}

@media only screen and (max-width: 540px) {
    .this_breadcrumb::after {
        display: none;
    }
    .content_about {
        padding: 15px;
    }
    .left_about {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .train_content {
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }

    .top_blog {
        flex-direction: column;
    }

    .left_blog {
        width: 100%;
    }

    .title_blog_top {
        font-size: 22px;
    }

    .blog_top p {
        padding: 0 10px;
    }

    .right_blog {
        width: 100%;
        margin-top: 20px;
    }

    .this_train a {
        flex-direction: column;
        gap: 10px;
    }

    .this_train a img {
        width: 100%;
    }

    .list_blog {
        width: 100%;
    }

    .box_right_data {
        width: 100%;
    }

    .this_train_right:last-child {
        border-bottom: 1px solid #ccc;
    }

    .date_post {
        font-size: 14px;
        line-height: 1.5;
    }

    .top_blog {
        display: flex;
        flex-direction: column;
    }

    .top_left,
    .top_right {
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .title_blog_top {
        font-size: 15px !important;
        margin-bottom: 10px;
    }

    .title_blog {
        font-size: 15px !important;
        margin-bottom: 5px !important;
    }

    .right_blog .des_blog p,
    .right_blog .des_blog span {
        font-size: 13px !important;
        line-height: 18px !important;
    }

    .this_train a {
        flex-direction: unset;
    }

    .this_train a img {
        width: 50%;
    }

    .this_train .title_blog {
        margin-bottom: 0 !important;
        font-size: 13px !important;
        line-height: 15px !important;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .list_blog .des_blog {
        -webkit-line-clamp: 2;
    }

    .top_bxh {
        flex-direction: column;
        gap: 10px;
    }

    .left_bxh {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }

    .left_bxh p {
        text-align: center;
        width: calc((100% - 20px) / 3);
        font-size: 14px;
        padding: 10px 5px;
    }

    .right_bxh {
        width: 100%;
    }

    .box_new img {
        max-width: unset;
        width: calc((100% - 30px) / 4);
    }

    .box_new {
        gap: 10px !important;
    }
}
@media only screen and (max-width: 414px) {
    .btn_heading .heading_table {
        width: 70%;
    }
    .btn_heading h1 {
        font-size: 13px;
    }
    .heading_show {
        width: 30%;
    }
    .div_bgr_load span {
        font-size: 14px;
    }
}