.bg_ft {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: -83px;
}

.footer-cta {
    background-color: #666666;
}

.footer-cta,
.footer-cta a,
.footer-cta tel {
    color: #ffffff;
}

.footer-cta {
    text-align: center;
    margin: 100px 0 0;
    padding: 2em 0;
}

.footer-cta h2 {
    font-size: 38px;
    font-weight: 400;
    line-height: 1.5;
}

h2 {
    font-size: 28px;
    margin: 25px 0;
}


.site-footer {
    position: relative;
    padding-top: 20px;
    /* background: url(/images/bg-footer.png); */
    background-color: #ea9912;
    background-size: cover;
}

.footer-widgets {
    z-index: 1;
    position: relative;
    background-repeat: no-repeat;
    /* height: 356.55px; */
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.copyright {
    padding: 20px 20px;
    overflow: hidden;
    box-shadow: inset rgb(255 255 255 / 10%) 0 1px 0;
    position: relative;
    color: #fff;
    background: #1d252c38;
    border-top: 1px solid rgba(236, 236, 236, 0.2);
    /* transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
}

.site-info {
    text-align: center;
    float: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #ffffff;
}

.footer-social {
    /* float: right; */
    /* text-align: center; */
    width: auto;
    display: flex;
    gap: 5px;
    margin: 0;
    align-items: center;
    margin-bottom: 20px;
}

.btt {
    text-align: center;
    color: #adadad;
    font-size: 20px;
    display: block;
}

.copyright .container_widget {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_footer {
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
}

.list_footer {
    padding-top: 26px;
    width: 25%;
}

.widget-title {
    font-size: 22px;
}

.p_img_footer {
    color: #d1d1d1;
    font-size: 16px;
    line-height: 1.5;
    max-width: 600px;
}

.list_footer .widget-title {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #fff;
    margin-bottom: 24px;
}

li.page_item.page-item-59.page_item_has_children {
    /* display: list-item; */
    /* text-align: -webkit-match-parent; */
}

.list_footer li a,
.list_footer li {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: rgba(255, 255, 255, 0.6);
}

.logo_ft {
    height: 60px;
}

.list_footer ul {
    /* padding-left: 20px; */
}

.textwidget {
    background: #c2060d;
    padding: 0.4rem;
    width: max-content;
    margin-bottom: 10px;
}

.footer-social p {
    color: white;
    font-size: 16px;
    background-color: #545454;
    padding: 6.5px 10px;
    border-radius: 3px;
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    margin-bottom: 0;
    margin-left: 6px;
}

.footer-social a {
    padding: 5px;
    /* background: rgba(255, 255, 255, 0.21); */
    border-radius: 5px;
}

.none_pc {
    display: none;
}

.address_ft img {
    margin-top: -5px;
    margin-left: -25px;
}

.textwidget p {
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    text-transform: uppercase;
    /* padding-top: 18px; */
}

.address_ft,
.address_ft a {
    color: #fff;
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    /* -webkit-box-orient: vertical; */
    /* -webkit-line-clamp: 1; */
    margin-bottom: 10px;
    text-align: justify;
}

.footer-line-body {
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: #ddd;
}

.widget_text {
    /* padding-top: 10px; */
}

.address_ft a {
    padding: 0;
}

.fl_ft {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left_ft .address_ft,
.list_footer_50 .address_ft {
    border-bottom: 1px solid #fff;
    padding-left: 0;
}

.left_ft {
    width: 46%;
}

.box_logo_ft {
    width: 100%;
}

.title_ft {
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.address_ft a:before {
    /* content: " > "; */
    color: #fff;
    transform: scalex(1) scale(1.5) rotatey(358deg);
    scale: 6;
    margin-right: 0.1rem;
}

.list_footer_50 {
    width: calc(25% / 2);
    margin-left: 20px;
}

.title_down_ft {
    color: #fff;
    margin-bottom: 6px;
    width: 100%;
    font-size: 15px;
}

.box_ft {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn_down_ft {
    width: 48%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    color: #000 !important;
    height: 32px;
    line-height: 30px;
    background: #f7f7f7;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    justify-content: center;
    margin-bottom: 10px;
}

.btn_down_ft img {
    width: 16px;
    margin-right: 10px;
}

.p_down_ft {
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
}

.p_hotline {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.p_hotline span {
    font-weight: 500;
    font-size: 15px;
}

.mini_hotline_ft {
    font-size: 12px;
    font-weight: 300;
}

.box_ft:last-child {
    border-top: 1px solid #fff;
    padding-top: 10px;
    margin-top: 1px;
}

.mg_ft {
    margin-left: 20px;
}

@media only screen and (max-width: 1024px) {
    .footer-cta {
        margin-top: 45px;
    }

    .none_pc {
        display: block;
    }

    .footer-widgets {
        margin-left: 20px;
        margin-right: 20px;
    }


    .none_tablet {
        display: none !important;
    }

    .ft_tablet {
        display: flex;
        width: calc(30% - 20px);
        /* align-items: center !important; */
        flex-direction: column;
    }

    .content_footer {
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .footer-social {
        justify-content: center;
    }

    .ft_tablet .widget-title {
        text-align: center;
    }

    .map_ft {
        width: 100%;
    }


    .list_footer .widget-title {
        margin-bottom: 16px;
    }


    .border_ft {
        display: block;
        width: 100%;
        border: 1px solid rgba(236, 236, 236, 0.2);
        margin: 24px 0;
    }
}

@media only screen and (max-width: 540px) {
    .logo_ft {
        max-height: 60px;
        width: 100%;
        height: auto;
    }

    .footer-cta {
        padding: 1em;
    }

    .footer-widgets {
        flex-direction: column;
        background-repeat: unset;
        /* background-size: unset; */
        /* margin-top: 30px; */
        background: unset;
    }

    .content_footer {
        flex-direction: column;
        gap: 10px;
    }

    .list_footer {
        width: -webkit-fill-available;
        margin-top: 0px;
        padding-top: 0;
        background-position-y: -15px;
    }

    .copyright .container_widget {
        flex-direction: column;
        padding: 0;
    }

    .p_img_footer img {
        width: 100%;
        height: auto;
    }

    .list_footer .widget-title {
        margin-bottom: 10px;
    }

    .textwidget {
        text-align: center;
    }

    .none_mb {
        display: none;
    }

    .pd_mb {
        padding-top: 20px;
        margin-left: 0;
    }

    .mg_mb {
        margin-top: 20px;
    }

    .bg_mb {
        padding-top: 20px;
        background: unset;
    }

    .bg_ft {
        margin-top: -30px;
    }

    .left_ft {
        width: 100%;
    }

    .p_down_ft {
        width: 48%;
    }
}