.site-footer {
    position: relative;
    padding-top: 40px;
    background-color: #272932;
    background-size: cover;
}

.footer-widgets {
    z-index: 1;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.copyright {
    padding: 20px 20px;
    overflow: hidden;
    box-shadow: inset rgb(255 255 255 / 10%) 0 1px 0;
    position: relative;
    color: #fff;
    background: #1d252c38;
    border-top: 1px solid #1f2128;
}

.content_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ft_left {
    width: 41%;
    padding: 0 10px;
}

.logo_ft {
    height: 60px;
    margin-bottom: 20px;
}

.title_widget {
    color: #ddd;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 10px;
}

.contact_infor li {
    display: flex;
    align-items: center;
}

.contact_infor p {
    list-style: none;
    padding: 5px 0;
    color: #ddd;
    line-height: 25px;
    font-size: 14px;
}

.contact_infor img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.list_contact {
    display: flex;
    flex-wrap: wrap;
}

.list_contact li {
    width: max-content;
}

.ft_right {
    display: flex;
    width: 58%;
    padding: 0 10px;
}

.r_01 {
    width: 58%;
}

.title_r {
    font-weight: 600;
    color: #EEE;
    font-size: 18px;
    margin: 0 0 20px;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 14px;
    border-bottom: none;
}

.title_r::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #253d6c;
    display: block;
    position: relative;
    bottom: -12px;
}

.list_links {
    display: flex;
    flex-wrap: wrap;
}

.item_link_ft {
    padding: 5px 0;
    width: 50%;
}

.item_link_ft a {
    color: #eee;
    font-size: 14px;
    line-height: 25px;
}

.item_link_ft img {
    width: 15px;
}

.r_02 {
    width: 41%;
}

.form_email {
    display: flex;
    flex-direction: column;
}

.form_email p {
    margin-bottom: 10px;
    color: #DDD;
    line-height: 1.5;
    font-size: 14px;
    padding: 5px 0;
}

.input_text {
    background: #2f313c;
    border: none;
    color: #EEE;
    padding: 8px 15px;
    margin-bottom: 10px;
}

.btn_submit_form {
    color: #fff;
    background: #ea9912;
    padding: 8px 20px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 2px;
    transition: 0.5s;
}

.btn_submit_form:hover {
    background: #000;
}

.list_link_bottom {
    width: max-content;
}

.content_copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_link_bottom ul {
    display: flex;
}

.list_link_bottom a {
    margin-left: 5px;
    color: #ddd;
    font-size: 13px;
}

.list_link_bottom li:not(:last-child)::after {
    content: '/';
    margin-right: 6px;
    color: #888;
}
@media only screen and (max-width: 1024px) {
    .footer-widgets {
        margin-left: 20px;
        margin-right: 20px;
    }

    .content_footer {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ft_right {
        width: 54%;
    }
}

@media only screen and (max-width: 768px) {
    .content_footer {
        flex-direction: column;
    }

    .ft_left {
        width: 65%;
    }

    .ft_right {
        width: 100%;
    }

    .contact {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 540px) {
    .logo_ft {
        max-height: 80px !important;
    }

    .footer-widgets {
        flex-direction: column;
        background-repeat: unset;
        background: unset;
        padding-bottom: 0;
    }

    .content_footer {
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
    }

    .ft_right {
        flex-direction: column;
    }

    .r_01,
    .r_02,
    .ft_left,
    .ft_right {
        width: 100%;
        padding: 0;
    }

    .title_r {
        height: 50px;
        top: 20px;
        padding-bottom: 0;
        margin: 0;
    }

    .content_copy {
        flex-direction: column;
    }
    .list_link_bottom {
        margin-top: 10px;
    }

    .contact {
        margin-bottom: 20px;
    }

    .copyright {
        margin-top: 15px;
    }
}