.site-footer {
    position: relative;
    padding-top: 40px;
    background-color: #272932;
    background-size: cover;
}

.footer-widgets {
    z-index: 1;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.copyright {
    padding: 20px 20px;
    overflow: hidden;
    box-shadow: inset rgb(255 255 255 / 10%) 0 1px 0;
    position: relative;
    color: #fff;
    background: #1d252c38;
    border-top: 1px solid #1f2128;
}

.site-info {
    text-align: center;
    width: max-content;
    float: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}


.content_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ft_left {
    width: 41%;
    padding: 0 10px;
}

.logo_ft {
    height: 60px;
    margin-bottom: 20px;
}

.title_widget {
    color: #ddd;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 10px;
}

.contact_infor li {
    display: flex;
    align-items: center;
}

.contact_infor p {
    list-style: none;
    padding: 5px 0;
    color: #ddd;
    line-height: 25px;
    font-size: 14px;
}

.contact_infor img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.list_contact {
    display: flex;
    flex-wrap: wrap;
}

.list_contact li {
    width: max-content;
}

.ft_right {
    display: flex;
    width: 58%;
    padding: 0 10px;
}

.r_01 {
    width: 58%;
}

.title_r {
    font-weight: 600;
    color: #EEE;
    font-size: 18px;
    margin: 0 0 20px;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 14px;
    border-bottom: none;
}

.title_r::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #253d6c;
    display: block;
    position: relative;
    bottom: -12px;
}

.list_links {
    display: flex;
    flex-wrap: wrap;
}

.item_link_ft {
    padding: 5px 0;
    width: 50%;
}

.item_link_ft a {
    color: #eee;
    font-size: 14px;
    line-height: 25px;
}

.item_link_ft img {
    width: 15px;
}

.r_02 {
    width: 41%;
}

.form_email {
    display: flex;
    flex-direction: column;
}

.form_email p {
    margin-bottom: 10px;
    color: #DDD;
    line-height: 1.5;
    font-size: 14px;
    padding: 5px 0;
}

.list_footer {
    padding-top: 26px;
    padding-right: 20px;
    width: 40%;
}

.input_text {
    background: #2f313c;
    border: none;
    color: #EEE;
    padding: 8px 15px;
    margin-bottom: 10px;
}

.btn_submit_form {
    color: #fff;
    background: #ea9912;
    padding: 8px 20px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 2px;
    transition: 0.5s;
}

.btn_submit_form:hover {
    background: #000;
}

.text_footer {
    text-align: center;
    width: 70%;
    margin: 20px auto;
}

.text_footer {
    color: #888;
}

.list_link_bottom {
    width: max-content;
}

.content_copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_link_bottom ul {
    display: flex;
}

.list_link_bottom a {
    margin-left: 5px;
    color: #ddd;
    font-size: 13px;
}

.list_link_bottom li:not(:last-child)::after {
    content: '/';
    margin-right: 6px;
    color: #888;
}

.left_ft {
    width: 46%;
}

.notify_auto {
    position: fixed;
    z-index: 2;
    background: #5ecafc;
    bottom: 50%;
    right: 0px;
    padding: 5px;
    border-bottom-right-radius: 0px;
    animation: example 0.3s;
    animation-timing-function: linear;
    background: linear-gradient(90deg, #FC2A83 0%, #B57DFF 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@keyframes example {
    from {
        right: -500px;
        opacity: 0;
    }

    to {
        right: 0px;
        opacity: 1;
    }
}

.content_notify {
    background: #2a2e3e;
    padding: 4px;
    cursor: pointer;
}

.body_notify {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 188px;
}

.body_notify p {
    font-size: 12px;
    font-weight: 700;
    line-height: initial;
    color: #fff;
}

.body_notify img {
    margin-right: 10px;
    width: 23%;
    height: 100%;
    animation: mymove 0.5s infinite;
}

/* ////////// */
.popup_link {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 31;
    background-color: #00000080;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.bodypopup {
    margin: auto;
    margin-top: 45vh;
    background: #fff;
    padding: 15px;
    max-width: 320px;
    text-align: center;
    width: auto;
}

.btn_popup {
    text-align: center;
    margin: auto;
    width: max-content;
    background: #eac24e;
    cursor: pointer;
    padding: 2px 10px;
    margin-top: 10px;
}
.btn_popup a {
    color: #000;
}.text_popup {
    font-size: 18px;
    line-height: 1.5;
}
@keyframes mymove {
    50% {
        transform: rotate(80deg);
    }
}
@media only screen and (max-width: 1024px) {
    .footer-widgets {
        margin-left: 20px;
        margin-right: 20px;
    }

    .content_footer {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ft_right {
        width: 54%;
    }

    .list_footer .widget-title {
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .content_footer {
        flex-direction: column;
    }

    .ft_left {
        width: 65%;
    }

    .ft_right {
        width: 100%;
    }

    .text_footer {
        width: 100%;
    }

    .contact {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 540px) {
    .logo_ft {
        max-height: 80px !important;
    }

    .footer-widgets {
        flex-direction: column;
        background-repeat: unset;
        background: unset;
        padding-bottom: 0;
    }

    .content_footer {
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
    }

    .ft_right {
        flex-direction: column;
    }

    .r_01,
    .r_02,
    .ft_left,
    .ft_right {
        width: 100%;
        padding: 0;
    }

    .title_r {
        height: 50px;
        top: 20px;
        padding-bottom: 0;
        margin: 0;
    }

    .text_footer {
        margin: 20px auto 10px;
    }

    .content_copy {
        flex-direction: column;
    }

    .site-info {
        font-size: 14px;
    }

    .list_link_bottom {
        margin-top: 10px;
    }

    .contact {
        margin-bottom: 20px;
    }

    .copyright {
        margin-top: 15px;
    }
    .notify_auto {
        display: none;
        right: 0;
        padding: 3px;
        bottom: 0;
        width: calc(100% - 6px);
    }

    .content_notify {
        padding: 5px;
    }

    .body_notify p {
        font-size: 14px;
    }

    .body_notify {
        width: auto;
        display: flex;
    }

    .body_notify img {
        width: 44px;
    }
}