* {
    font-family: Montserrat, sans-serif !important;
}

body {
    /* background: #101115; */
}

.body_width {
    max-width: 1140px;
    margin: auto;
}

.main_content {
    padding-top: 80px;
}

.header_top {
    font-size: 12px;
    height: 54px;
    background-color: #262626;
    z-index: 100;
    line-height: 54px;
    margin-bottom: 1px;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.header_top img {
    height: 18px;
    width: auto;
}

.header_top span {
    box-shadow: 0 2px 0 #6f9a37;
    background-color: #82b440;
    font-size: 14px;
    padding: 5px 20px;
    cursor: pointer;
    line-height: 1.5;
    color: #fff;
    border-radius: 4px;
}

.main_header {
    position: fixed;
    width: 100%;
    background: #ffffff;
    z-index: 3;
    border-bottom: 1px solid #ccc;
}

.header_bot {
    -moz-transition: all .3s;
    z-index: 200;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: -webkit-fill-available;
    background: #ffffff;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5px 20px 0px 20px;
}

.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img.img_logo_bot_header {
    width: 155px;
    margin-right: 36px;
    padding: 6px 0;
}
.top_right_header {
    display: flex;
    align-items: center;
}
.btn_top_header {
    display: flex;
    align-items: center;
}
.search_mobile {
    display: none;
}
.search_pc {
    position: relative;
    line-height: 32px;
}   
.img_search_pc {
    width: 20px;
    position: absolute;
    top: 6px;
    left: 8px;
}
.input_pc {
    padding: 0 10px 0 33px;
    width: 180px;
    border-radius: 16px;
    border: 1px solid #e5e5e5;
    font-size: 13px;
    color: #4f4f4f;
    line-height: 32px;
    box-sizing: border-box;
}
.btn_login {
    margin-left: 20px;
    line-height: 32px;
    font-size: 14px;
    color: #4f4f4f;
    display: flex;
    align-items: center;
}
.btn_login img {
    width: 20px;
    margin-right: 2px;  
}

.noti {
    position: relative;
    margin-left: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.noti::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-radius: 6px;
    background-color: #087ECA;
}
.noti img {
    width: 20px;
    height: 20px;
}

.header_menu {
    display: flex;
    height: 45px;
    align-items: center;
    border-top: 1px solid #bdbdbd;
}



.this_menu {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu_con {
    position: absolute;
    display: none;
    padding: 20px;
    background: #090f20;
    padding-bottom: 0px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    top: 100%;
    left: 50%;
    width: 250px;
    z-index: 99999;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.this_menu span a {
    padding: 2px 9px;
    color: #000000;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.this_menu:hover .menu_con {
    display: block;
}

.box_menu {
    display: flex;
}

.list_menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 6px 0;
}
.img_home {
    background: #e5e5e5;
    border-radius: 50%;
    transition: 0.5s;
}
.img_home span {
    background: url(/images/icon_home_gray.png) no-repeat center center;
    background-size: 18px 18px;
    display: block;
    padding: 13px;
    transition: 0.5s;
}
.img_home:hover {
    background: #9f224e;
}
.img_home:hover span {
    background: url(/images/icon_home_white.png) no-repeat center center;
    background-size: 18px 18px;
    display: block;
    padding: 13px;
}
.this_menu:hover span a {
    color: #dadada;
}

.menu_con p a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.menu_con p {
    color: #797979;
    line-height: 41px;
}

.login_header {
    border: 2px solid #797979;
}

.img_show_menu {
    width: 30px;
    cursor: pointer;
}
.img_show_menu span {
    background: url(/images/icon_menu_gray.png) no-repeat center center;
    background-size: 20px 20px;
    padding: 10px;
    transition: 0.5s;
}.img_show_menu:hover span {
    background: url(/images/icon_menu_red.png) no-repeat center center;
    background-size: 20px 20px;
    padding: 10px;
}
.this_menu span a:hover {
    color: #000000;
}

.menu_con p a:hover {
    color: #dadada;
}

/* all menu drop  */
.all_menu_drop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #f7f7f7;
    left: 0;
    top: 90px;
    transform: scale(0);
    transition: 0.5s;
}
.content_menu {
    max-width: 1130px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.header_cont_menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bdbdbd;
    padding: 13px 0;
}
.header_cont_menu span {
    font-size: 18px;
    line-height: 23px;
    color: #4f4f4f;
    display: inline-block;
    font-weight: 600;
}
.btn_close_menu span {
    font-size: 15px;
    color: #076db6;
    font-weight: 400;
}
.btn_close_menu img {
    width: 25px;
    margin-left: 10px;
}
.content_left {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    width: 86%;
    float: left;
    overflow-y: auto;
}
.item_content_left {
    width: 150px;
    margin-bottom: 20px;
}
.item_content_left a {
    color: #9f224e;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s;
}
.item_content_left a:hover {
    text-decoration: revert;
}
.content_right {
    width: 14%;
    padding-left: 12px;
    float: right;
    padding-top: 15px;
    border-left: 1px solid #bdbdbd;
    box-sizing: border-box;
    overflow-y: auto;
}
.item_page {
    margin-bottom: 15px;
}
.item_page a {
    font-size: 14px;
    font-weight: bold;
    color: #222;
    transition: 0.5s;
}
.item_page a:hover {
    text-decoration: revert;
}
@media only screen and (max-width: 1024px) {
    .img_show_menu {
        display: block;
        position: absolute;
        right: 15px;
    }
    .top_header {
        width: 100%;
    }
    .header_menu {
        display: none;
        height: unset;
        flex-direction: column;
        /* background: #FBFDFF; */
        width: 100%;
    }

    .header_bot {
        position: fixed;
        top: 0;
        width: -webkit-fill-available;
        z-index: 201;
        padding: 10px 0;
        justify-content:flex-start;
        padding-right: 20px;
        align-items: center;
        padding-left: 5px;
        flex-direction: row;
        border-bottom: 1px solid #DBDBDB;
    }
    .btn_submenu_top {
		display: flex;
		flex-direction: column;
	}

	.btn_submenu_top {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 30px;
	}

	.btn_submenu_top span {
		margin: 0 auto;
		position: relative;
		top: 12px;
		transition-duration: 0s;
		transition-delay: 0.2s;
		transition: background-color 0.3s;
	}

	.btn_submenu_top span:before,
	.btn_submenu_top span:after {
		position: absolute;
		content: "";
	}

	.btn_submenu_top span,
	.btn_submenu_top span:before,
	.btn_submenu_top span:after {
		width: 20px;
		height: 2px;
		background-color: #bdbdbd;
		display: block;
		opacity: 1;
	}

	.btn_submenu_top span:before {
		margin-top: -5px;
		transition-property: margin, transform;
		transition-duration: 0.2s;
		transition-delay: 0.2s, 0;
	}

	.btn_submenu_top span:after {
		margin-top: 5px;
		transition-property: margin, transform;
		transition-duration: 0.2s;
		transition-delay: 0.2s, 0;
	}

	.active_span {
		background: #fff !important;
	}

	.active_span:before {
		margin-top: 0 !important;
		transform: rotate(45deg);
		transition-delay: 0, 0.2s;
	}

	.active_span::after {
		margin-top: 0 !important;
		transform: rotate(-45deg);
		transition-delay: 0, 0.2s;
	}

    .header_top {
        position: fixed;
        top: 0;
        width: -webkit-fill-available;
        z-index: 201;
    }

    .main_header {
        position: unset;
    }

    .menu_con {
        position: unset;
        display: block;
        padding: 5px 0px;
        left: 0px;
        width: unset;
        -webkit-transform: unset;
        transition: unset;
        background: unset;
        padding-left: 20px;
        border-left: 1.5px solid #808EA1;
        border-radius: 0;
        box-shadow: unset;
        margin-top: 20px;
    }

    .this_menu {
        flex-direction: column;
        align-items: flex-start;
        padding: unset;
        width: 48%;
        margin-top: 15px;
        background: none repeat scroll 0 0 #f0f0f0;
        border-radius: 5px;
    }

    .this_menu span {
        padding-left: 0px;
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }

    .menu_con p {
        padding: 2px;
        margin-bottom: 5px;
        line-height: unset;
    }

    .login_header {
        border: none;
    }

    .search_jobs {
        flex-direction: column;
    }

    .this_menu span a {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #000;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .this_menu img {
        margin-left: calc(100% - 105px);
    }

    .menu_con p a {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #59606A;
    }

    .list_menu {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box_menu {
        display: block;
    }
    .all_menu_drop {
        top: 51px;
    }

}

@media only screen and (max-width: 768px) {
    .header_cont_menu span, .btn_close_menu {
        display: none;
    }
    .item_content_left {
        width: 33.33%;
    }
}
@media only screen and (max-width: 540px) {
    .search_pc {
        display: none;
    }
    .search_mobile {
        width: 100%;
        display: block;
    }
    .img_search_mobile {
        width: 20px;
        position: absolute;
        top: 20px;
        left: 25px;
    }
    .input_mobile {
        padding: 0 10px 0 33px;
        width: 100%;
        border-radius: 16px;
        border: 1px solid #e5e5e5;
        font-size: 13px;
        color: #4f4f4f;
        line-height: 32px;
        box-sizing: border-box;
    }
    .content_left {
        width: 72%;
    }
    .content_right {
        width: 28%;
    }
}
@media only screen and (max-width: 414px) {
    .btn_top_header {
        display: none;
    }
    .all_menu_drop {
        overflow-y: auto;
    }
    .content_left {
        width: 100%;
        border-bottom: 1px solid #bdbdbd;
    }
    .item_content_left {
        width: 100%;
    }
    .content_right {
        width: 100%;
        border: none;
        float:left;
        padding-left: 0;
    }
}